# Python
__pycache__/
*.pyc
*.pyo

# База данных и конфиг (личные данные)
*.db
app_config.json

# Архивы / резервные копии
Archiv/*.zip

# Лишние файлы
opencode.json

# PyInstaller
*.spec
build/
dist/

# Виртуальные окружения
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Прочее
*.log
